<h1>New Event</h1>

<% form_for([:admin, @event], :html => {:multipart => true}, :method => :put) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "event_fields", :locals => {:f => f, :event => @event} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', admin_events_path %>