<h2>Organizers for <%= h @event.name %></h2>

<div id="bios">
  <% @organizers.each do |organizer| -%>
    <div>
      <%= image_tag(url_for_file_column(organizer, :image, "profile")) unless organizer.image.blank? %>
      <p><%= organizer.bio %></p>
    </div>
  <% end -%>
</div>
