<h1><%= @title %></h1>

<% if !@speakers.empty? -%>
  <%= render(:partial => 'speakers', :locals => {:speakers => @speakers}) %>
<% else -%>
  <p>No active speakers</p>
<% end -%>

<br/>
<% if @hide_event -%>
  <%= optgroup_settings_dropdown("Export proposals to CSV",
    [
      ["By Set", [
        ["This Page Only", url_for(:controller => "admin/speakers", :action => "csv", :proposal => true, :page => params[:page], :escape => false)],
        ["Active Proposals", url_for(:controller => "admin/speakers", :action => "csv", :proposal => true, :set => "active", :escape => false)],
        ["All Proposals", url_for(:controller => "admin/speakers", :action => "csv", :proposal => true, :escape => false)]
      ]],
      ["By Ignite", 
        @ignites.map{ |ignite| eval('[ignite.city, url_for(:controller => "admin/speakers", :action => "csv", :proposal => true, :ignite_id => ignite.id, :escape => false)]') }
      ]
    ]) unless @speakers.empty?
  %>
<% else -%>
  <%= optgroup_settings_dropdown("Export speakers to CSV",
    [
      ["By Set", [
        ["This Page Only", url_for(:controller => "admin/speakers", :action => "csv", :page => params[:page], :escape => false)],
        ["Active Speakers", url_for(:controller => "admin/speakers", :action => "csv", :set => "active", :escape => false)],
        ["All Speakers", url_for(:controller => "admin/speakers", :action => "csv")]
      ]],
      ["By Ignite", 
        @ignites.map{ |ignite| eval('[ignite.city, url_for(:controller => "admin/speakers", :action => "csv", :ignite_id => ignite.id, :escape => false)]') }
      ]
    ]) unless @speakers.empty?
  %>
<% end -%>