<h1>New ignite</h1>

<% form_for @ignite, :url => admin_ignites_path, :html => {:multipart => true}, :method => :post do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_ignites_path %>
