<div class="video">
  <object width="350" height="283">
    <param name="movie" value="<%= speaker.video_embed_url %>"></param>
    <param name="allowFullScreen" value="true"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed src="<%= speaker.video_embed_url %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="350" height="283"></embed>
  </object>
</div>
