var tmpImg = new Image();

function imageSwap(sid){
  curImg = $('speakerLink' + sid);
  swapImg = $('swapFor' + sid);
  tmpImg.src = curImg.src;
  curImg.src = swapImg.src;
  swapImg.src = tmpImg.src;
}

function onWidgetMouseover(sid) {
  var speaker = mySpeakers.detect(function(sp) {
    return sp["speaker"].id === sid;
  })["speaker"];
  $('widgetTitle').update(speaker.title);
  $('widgetAuthor').update(speaker.name);
  $('widgetBio').update(readMore(speaker, speaker.bio, 175));
  $('widgetDescription').update(ellipsize(speaker.description, 200));
  imageSwap(sid);
  
}

function ellipsize(str, size) {
  return str.substring(0, size) + "...";
}

function readMore(speaker, str, size) {
  return ellipsize(str, size) + "<a href='/speakers/" + speaker.id + "'>Read More</a>";
}

var mySpeakers = <%= speakers.to_json(:only => [:id, :name, :title, :description, :bio]) %>;
