<%= link_to h(@event.name), event_path(@event), :class => 'tag' %>

<%= render(:partial => 'speakers/speaker', :locals => {:speaker => @speaker}) %>

<div>
  <% if @event.accepting_proposals? -%>
    <%= link_to 'Submit a Proposal', new_proposal_path, :class => "articleTitle tag" %>
  <% end -%>
  <%= link_to 'View all Proposals', proposals_speakers_path, :class => 'articleTitle tag' %>
</div>
