<!-- footer -->
<div id="footer">
	<%= link_to image_tag("layout/logo_mission_media.jpg", :alt => "Created by Mission Media"), "http://www.missionmedia.net" %>
	<%= link_to image_tag("layout/logo_sls.jpg", :alt => "Powered by SmartLogic Solutions"), "http://smartlogicsolutions.com" %>
</div>
<%= @ignite.footer_html %>