<%
  links = [
    ["Latest News", news_path],
    ["Proposals", proposals_speakers_path],
    ["Speakers", speakers_path]
  ]
  links << ["Past Ignites", past_events_path] if !@ignite.events.past.count.zero?
  links << ["Organizers", organizers_path] if !@ignite.organizers.count.zero?
  links += @ignite.articles.for_navigation.map {|article| [h(article.name), article_path(article)] }
%>

<ol id="nav">
  <% links.each_with_index do |link, index| -%>
    <% css_class = (index == links.size - 1) ? "last" : "" %>
    <li class="<%= css_class %>"><%= link_to link[0], link[1] %></li>
  <% end -%>
</ol>
